*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.btnNav{
    visibility: hidden;
}

.arrow{
    display: block;
}

.arrow1{
    display: none;
}

.linkmain{
    width: 100%;
    height: 270px;
    /* background-image: url(img/place.png); */
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.linkmain a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;

    font-weight: bold;
    font-size: 22px;
    transition: all 1s;
}

#culture a:hover , #instru a:hover , #food a:hover{
    color: #ffffff;
    font-size: 24px;
    text-decoration: underline;
}

#place{
    background-image: url(img/place.png);
}
#place a{
    color: #fff;
}

#culture:hover{
    background-image: url(img/culture.jpg);
    transform: scale(0.9);
}
#culture{
    background-image: linear-gradient(rgba(179, 199, 133, 0.3),rgba(242, 255, 186, 0.3)) , url(img/culture.jpg);
    transition: all 2s ease;
}

#instru:hover{
    background-image: url(img/instrument.jpg);
    transform: scale(0.9);
}
#instru{
    background-image: linear-gradient(rgba(211, 28, 28, 0.3),rgba(44, 44, 43, 0.3)) , url(img/instrument.jpg);
    transition: all 2s ease;
}

#food:hover{
    background-image: url(img/tea.jpg);
    transform: scale(0.9);
}
#food{
    background-image: linear-gradient(rgba(173, 173, 173, 0.3),rgba(70, 49, 30, 0.3)) , url(img/tea.jpg);
    transition: all 2s ease;
}

/* =========================================================================== */

.firstrow{
    padding: 0 30px;
    /* height: 400px; */
}

.line{
    padding: 0 20px;
}

.firstcol{
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
}

iframe{
    height: 400px;
    display: block;
}

#image1{
    background-image: linear-gradient(rgba(116, 116, 116, 0.5),rgba(66, 65, 65, 0.3)) , url(img/monywa.jpg);
}

#image2{
    background-image: linear-gradient(rgba(116, 116, 116, 0.4),rgba(66, 65, 65, 0.5)) , url(img/bago.png);
}

#image3{
    background-image: linear-gradient(rgba(71, 71, 71, 0.4),rgba(29, 29, 29, 0.5)) , url(img/ananda1.jpg);
}

#image4{
    background-image: linear-gradient(rgba(71, 71, 71, 0.4),rgba(29, 29, 29, 0.5)) , url(img/maha.jpg);
}

#image5{
    background-image: linear-gradient(rgba(92, 92, 92, 0.4),rgba(29, 29, 29, 0.5)) , url(img/zoo.jpg);
}

#image6{
    background-image: linear-gradient(rgba(92, 92, 92, 0.4),rgba(29, 29, 29, 0.5)) , url(img/safari.jpg);
}

#para{
    position: absolute;
    top: 80px;
    right:67px;
    width: 400px;
    text-align: justify;
    color:#fff;
    text-shadow: 10px 0px 2px #222;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


footer{
    background-color: #242424;
    overflow-x: hidden;
}

footer #fme{
    padding: 25px 30px;
    color: #f4f4f4;
}

footer .about img{
    width: 70px;
    display: inline;
}

footer #fme h5 , .join h6{
    padding-left: 15px;
    border-left: 4px solid #f4f4f4;
    text-align: justify;
}

footer .about p{
    display: inline;
    text-align: justify;
}

footer .about{
    padding: 15px 10px;
}

footer .contact{
    padding: 15px 10px;
}

footer #fme ul li{
    list-style: none;
}

footer .contact ul li a{
    color: #888888;
    text-decoration: none;
}

footer .quick ul li a{
    color: #888888;
    text-decoration: none;
    text-transform: uppercase;
}

footer .join ul li{
    float: left;
    padding-right: 20px;
}

footer .join ul li a{
    font-size: 25px;
    color: #888888;
}

footer .join ul li a:hover{
    color: #d6d6d6;

}


footer .contact ul li span{
    padding-left: 12px;
}

footer .contact ul li a:hover , footer .quick ul li a:hover{
    color: #d6d6d6;
}
/* =========================================================================== */

.arrow , .arrow1{
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 30px;
    color: #ee4444;
    /* display: none; */
}

.arrow:hover , .arrow1:hover{
    color: red;
}

/* =========================================================================== */

@media (max-width:600px){

    .navbar-dark .navbar-brand {
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .btnNav{
        visibility: visible;
    }

    #logoNav{
        display: none;
    }

    .fourNav{
        display: none;
    }

    .firstcol{
        position: relative;
    }

    #para{
        /* width: 245px; */
        width: 90%;
        font-size: 14px;

        position: absolute;
        top: 40px;
        left:10px;

    }

    /* .firstrow{
        margin-bottom: 15px;
    } */
    
    .line{
        color: #b9b9b9;
    }

    iframe{
        display: block;
    }

    footer #fme{
        padding: 20px 30px;
    }

    .arrow{
        display: none;
    }
    
    .arrow1{
        display: block;
    }
    .arrow , .arrow1{
        bottom: 20px!important;
        right: 10px!important;
        font-size: 30px!important;
    }
}